
    <ul class="list-unstyled">
            <% reviews.each do |review| %>
                <li class="media mb-3">
                    <div class="media-body">    
                        
                            <div class="card" style="margin-top: 30px;">
                                <div id="art-rev1" class="card-header">
                                    <h4 class="card-title">
                                       <%= review.title %>
                                    </h4>
                                    
                                </div>
                                <div id="art-rev2" class="card-body">
                                    <h5><%= review.content %></h5>
                                    
                                    <p>
                                        <% if logged_in? %>    
                                            <% if current_user == review.user %>
                                                <%= form_with(model: review, local: true, method: :delete) do |f| %>
                                                    <%= render 'layouts/error_messages', model: f.object %>
                                                        
                                                      <%= hidden_field_tag :article_id, article.id %>
                                                      <%= f.submit '投稿を削除', class: "submit-btn" %>
                                                <% end %>
                                            <% end %>
                                        <% end %>    
                                    </p>
                
                                </div>
                            </div>     
                    </div>    
                </li>
            <% end %>
    </ul>
