

<!--このページのレイアウトの残りのタスク-->
<!-- 特定の項目の枠囲い、テキスト左詰め揃え-->
<!-- 記事全体の大枠囲い -->
<!-- 個室→アリの場合は、丸ボタン表示。　　タバコ→喫煙、禁煙をボタン表示-->


<ul class="list-unstyled">
  <% articles.each do |article| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(article.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div class="user-name">
          <p>投稿者：<%= link_to article.user.name, user_path(article.user) %></p><span>投稿日時：<%= article.created_at %></span>
        </div>
        
        
        <div class="card" style="margin-top: 10px;">
                <div class="card-header">
                    <h5 class="card-title">
                      
                      <div class="rst-info row">
                        <div class="col-lg-4">
                          <p>店名：<%= article.shop_name %></p>
                        </div>
                        
                        <div class="col-lg-4">
                          <p>エリア：<%= article.area %></p>
                        </div>
                        
                        <div class="col-lg-4">
                          <p>最寄駅：<%= article.station %></p>
                        </div>
                      </div>
                    </h5>
                </div>
                  
                <div class="card-body">
                  <div class="rst-topics row">
                    <aside class="col-lg-4">
                      <div class="rst-imaage">
                          <div class="rst-main_visual">
                              <%= image_tag article.image1.url if article.image1? %>
                          </div>
                      </div>
                    </aside>
                  
                  
          
                    <div id="sub-info" class="col-lg-8">
                       <p class="text-left">予算：<%= article.budget %>円</p>
                  
                       <p class="text-left">雰囲気：<%= article.situation %></p>
           
                       <p class="text-left">こだわり(食)：<%= article.food_type %></p>
                    
                       <p class="text-left">こだわり(お酒)：<%= article.alcohol_type %></p>
                    
                    </div>
                  </div>  
                  
                </div>
                
                <div class="card-footer">
                
                  <div class="sub-footer row">
                    <div class="col-lg-3">
                      <% if current_user == article.user %>
                        <%= link_to "削除", article, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
                      <% end %>
                    </div>
                  
                    
                    
                    <div class="col-lg-2">
                      <% if article.room_type == "有(完全個室)" %>
                        <span class="badge badge-info">完全個室</span>
                      
                      <% elsif article.room_type == '有(簡易区切りのみ)' %>
                          <span class="badge badge-info">簡易個室</span>
                      <% end %>
                    </div>
                    
                    
                    <div class="col-lg-2">
                      <% if article.smoking == "喫煙" %>
                        <span class="badge badge-info">喫煙</span>
                      
                      <% elsif article.smoking == '禁煙' %>
                          <span class="badge badge-info">禁煙</span>
                      <% end %>
                    </div>
                    
                    
                    <div class="col-lg-2">
                      <% if article.net_reservation == "可" %>
                        <span class="badge badge-info">ネット予約可</span>
                     
                      <% elsif article.net_reservation == "不可" %>
                        <span class="badge badge-info">電話予約のみ</span>
                      <% end %>
                    </div>
          
          
                    <div class="col-lg-3">
                        <%= link_to "詳細", article , class: 'btn btn-primary btn-sm' %>
                    </div>
                  </div>  
                    
                </div>
          </div>
      </div>
    </li>
  <% end %>
  <%= paginate articles %>
</ul>

<!-- 後ほど削除じゃなくて、showボタンに変更させる-->
