
<!--   お店の詳細をしっかり表示させるshowページ-->


<ul class="list-unstyled">

    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(article.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <p class="text-left">投稿者：<%= link_to article.user.name, user_path(article.user) %><span style="color:white;">投稿日時：<%= article.created_at %></span></p>
        </div>
        
                  <!-- お店基本情報-->
                  
                  
                <h3>◆基本情報◆</h3>  
                <div id="basic-info"  style="margin-top: 0px;">
                    <div class="rst-info row">
                      <div class="col-lg-4">
                        <p>店名：<%= article.shop_name %></p>
                      </div>
                      
                      <div class="offset-lg-1 col-lg-3">
                        <p>エリア：<%= article.area %></p>
                      </div>
                      
                      <div class="col-lg-3">
                        <p>最寄駅：<%= article.station %></p>
                      </div>
                    </div>
                    
                    
                    <div class="rst-info row">
                      <div class="col-lg-4">
                        <p>サイト：<%= article.shop_url %></p>
                      </div>
                      
                      
                      <div class="offset-lg-4 col-lg-3">
                        <p>アクセス：徒歩<%= article.walk_time %>分</p>
                      </div>
                    </div>
                    
                    <div class="rst-info row">
                      <div class="col-lg-4">
                        <p>予算(１人あたり）：約<%= article.budget %>円</p>
                      </div>
                    </div>
                    
                    <div class="rst-info row">
                      <div class="col-lg-4">
                        <p>住所：<%= article.address %></p>
                      </div>
                    </div>
                </div>  
            
              <!-- メインビジュアル　複数表示-->  
                
                <!-- 投稿情報がない場合は、noimage、情報なしにて表示するように -->
                <div class="rst-main_visual">
                  <div class="rst-image">
                      <h3>◆店舗写真◆</h3>
                      
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                              </ol>
                        
                        <div class="carousel-inner">    
                              <div class="carousel-item active">
                                  <% if article.image1? %>
                                      <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" 
                                      src="<%= article.image1.url %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" 
                                      aria-label="Placeholder: First slide">
                                  <% else %>
                                      <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" 
                                      src="/assets/side-no-image.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" 
                                      aria-label="Placeholder: First slide">
                                  <% end %>
                                       
                                       <title>Placeholder</title><rect fill="#777" width="100%" height="100%"/>
                                       <text fill="#555" dy=".3em" x="50%" y="50%">スライド1</text></img>
                                    
                              </div>
                                
                                  <div class="carousel-item">
                                    <% if article.image2? %>
                                      <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" 
                                      src="<%= article.image2.url %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" 
                                      aria-label="Placeholder: First slide">
                                    <% else %>
                                        <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" 
                                        src="/assets/side-no-image.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" 
                                        aria-label="Placeholder: First slide">
                                    <% end %>
                                           
                                           
                                           <title>Placeholder</title><rect fill="#777" width="100%" height="100%"/>
                                           <text fill="#555" dy=".3em" x="50%" y="50%">スライド2</text></img>
                                  </div>
                                  
                                  <div class="carousel-item">
                                    <% if article.image3? %>
                                      <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" 
                                      src="<%= article.image3.url %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" 
                                      aria-label="Placeholder: First slide">
                                    <% else %>
                                        <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" 
                                        src="/assets/side-no-image.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" 
                                        aria-label="Placeholder: First slide">
                                    <% end %>
                                           
                                           <title>Placeholder</title><rect fill="#777" width="100%" height="100%"/>
                                           <text fill="#555" dy=".3em" x="50%" y="50%">スライド3</text></img>
                                  </div>
                                  
                                  <div class="carousel-item">
                                    <% if article.image4? %>
                                      <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" 
                                      src="<%= article.image4.url %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" 
                                      aria-label="Placeholder: First slide">
                                    <% else %>
                                        <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" 
                                        src="/assets/side-no-image.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" 
                                        aria-label="Placeholder: First slide">
                                    <% end %>
                                           
                                           <title>Placeholder</title><rect fill="#777" width="100%" height="100%"/>
                                           <text fill="#555" dy=".3em" x="50%" y="50%">スライド4</text></img>
                                  </div>
                                  
                                  <div class="carousel-item">
                                    <% if article.image5? %>
                                      <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" 
                                      src="<%= article.image5.url %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" 
                                      aria-label="Placeholder: First slide">
                                    <% else %>
                                        <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" 
                                        src="/assets/side-no-image.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" 
                                        aria-label="Placeholder: First slide">
                                    <% end %>
                                           
                                           <title>Placeholder</title><rect fill="#777" width="100%" height="100%"/>
                                           <text fill="#555" dy=".3em" x="50%" y="50%">スライド5</text></img>
                                  </div>
                                  
                                  <div class="carousel-item">
                                    <% if article.image6? %>
                                      <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" 
                                      src="<%= article.image6.url %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" 
                                      aria-label="Placeholder: First slide">
                                    <% else %>
                                        <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" 
                                        src="/assets/side-no-image.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" 
                                        aria-label="Placeholder: First slide">
                                    <% end %>
                                           
                                           <title>Placeholder</title><rect fill="#777" width="100%" height="100%"/>
                                           <text fill="#555" dy=".3em" x="50%" y="50%">スライド6</text></img>
                                  </div>
                        </div>
                          
                  
                          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                          
                  </div>
                </div>
                
                
            <!-- ここからラッパー-->
                <div class="rst-info-wrapper">
                  <div class="row">
                    <div class="col-lg-6", style="margin-top: 20px;">
                        <div class="card">
                          <div class="card-header">
                              <h3 class="card-title">
                                  こだわり(お酒)
                              </h3>
                          </div>
                    
                          <div class="card-body">
                              <div class="image-picture">
                                <% if article.alcohol_type == "ビール" %>
                                <div class="row">
                                  <div class="col-lg-7">
                                    <img width="150" height="100" src="/assets/beer.jpg" alt="ビール">
                                  </div>
                                  <div class="col-lg-5">
                                    <h5 class="mt-20">ビール</h5>
                                  </div>
                                </div>
                                
                                <% elsif article.alcohol_type == "カクテル" %>
                                <div class="row">
                                  <div class="col-lg-7">
                                    <img width="150" height="100" src="/assets/caktel.jpg" alt="カクテル">
                                  </div>
                                  <div class="col-lg-5">
                                    <p class="mt-20">カクテル</p>
                                  </div>
                                </div>
                                  
                                  
                                <% elsif article.alcohol_type == "ワイン" %>
                                <div class="row">
                                  <div class="col-lg-7">
                                    <img width="150" height="100" src="/assets/wine.jpg" alt="ワイン">
                                  </div>
                                  <div class="col-lg-5">
                                    <h5 class="mt-20">ワイン</h5>
                                  </div>
                                </div>
                                  
                                <% elsif article.alcohol_type == "日本酒" %>
                                <div class="row">
                                  <div class="col-lg-7">
                                    <img width="150" height="100" src="/assets/japanese.jpg" alt="日本酒">
                                  </div>
                                  <div class="col-lg-5">
                                    <h5 class="mt-20">日本酒</h5>
                                  </div>
                                </div>
                                
                                <% elsif article.alcohol_type == "焼酎" %>
                                <div class="row">
                                  <div class="col-lg-7">
                                    <img width="150" height="100" src="/assets/syo-tyu.jpg" alt="焼酎">
                                  </div>
                                  <div class="col-lg-5">
                                    <h5 class="mt-20">焼酎</h5>
                                  </div>
                                </div>
                                  
                                <% elsif article.alcohol_type == "ウイスキー" %>
                                <div class="row">
                                  <div class="col-lg-6">
                                    <img width="120" height="100" src="/assets/wisky.jpg" alt="ウイスキー">
                                  </div>
                                  <div class="col-lg-6">
                                    <p class="mt-20">ウイスキー</p>
                                  </div>
                                </div>
                                
                                <% elsif article.alcohol_type == "その他" %>
                                <div class="row">
                                  <div class="col-lg-7">
                                    <img width="150" height="100" src="/assets/main-visual.jpg" alt="その他">
                                  </div>
                                  <div class="col-lg-5">
                                    <h5 class="mt-20">その他</h5>
                                  </div>
                                </div>
                                  
                                <% else %>
                                <div class="row">
                                  <div class="col-lg-5">
                                    <img width="100" height="100" src="/assets/noimage.png" alt="その他">
                                  </div>
                                  <div class="col-lg-7">
                                    <h5 class="mt-20">情報無し</h5>
                                  </div>
                                </div>
                                <% end %>
                                
                              </div>
                              
                              
                          </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6", style="margin-top: 20px;">
                        <div class="card">
                          <div class="card-header">
                              <h3 class="card-title">
                                  こだわり(食)
                              </h3>
                          </div>
                    
                          <div class="card-body">
                              <div class="image-picture">
                                <% if article.food_type == "お肉" %>
                                <div class="row">
                                  <div class="col-lg-7">
                                    <img width="150" height="100" src="/assets/meats.jpg" alt="お肉">
                                  </div>
                                  <div class="col-lg-5">
                                    <h3 class="mt-20">お肉</h3>
                                  </div>
                                </div>
                                
                                <% elsif article.food_type == "魚系" %>
                                <div class="row">
                                  <div class="col-lg-7">
                                    <img width="150" height="100" src="/assets/fish.jpg" alt="お魚">
                                  </div>
                                  <div class="col-lg-5">
                                    <h3 class="mt-20">お魚</h3>
                                  </div>
                                </div>
                                  
                                  
                                <% elsif article.food_type == "和食" %>
                                <div class="row">
                                  <div class="col-lg-7">
                                    <img width="150" height="100" src="/assets/japanfood.jpg" alt="和食">
                                  </div>
                                  <div class="col-lg-5">
                                    <h3 class="mt-20">和食</h3>
                                  </div>
                                </div>
                                  
                                <% elsif article.food_type == "イタリアン" %>
                                <div class="row">
                                  <div class="col-lg-7">
                                    <img width="150" height="100" src="/assets/italian.jpg" alt="イタリアン">
                                  </div>
                                  <div class="col-lg-5">
                                    <p class="mt-20">イタリアン</p>
                                  </div>
                                </div>
                                
                                <% elsif article.food_type == "フレンチ" %>
                                <div class="row">
                                  <div class="col-lg-7">
                                    <img width="150" height="100" src="/assets/french.jpg" alt="フレンチ">
                                  </div>
                                  <div class="col-lg-5">
                                    <p class="mt-20">フレンチ</p>
                                  </div>
                                </div>
                                  
                                <% elsif article.food_type == "その他" %>
                                <div class="row">
                                  <div class="col-lg-7">
                                    <img width="150" height="100" src="/assets/wisky.jpg" alt="その他">
                                  </div>
                                  <div class="col-lg-5">
                                    <p class="mt-20">その他</p>
                                  </div>
                                </div>
                                <% else %>
                                <div class="row">
                                  <div class="col-lg-7">
                                    <img width="120" height="100" src="/assets/noimage.png" alt="その他">
                                  </div>
                                  <div class="col-lg-5">
                                    <p class="mt-20">情報無し</p>
                                  </div>
                                </div>
                                
                                <% end %>
                                
                              </div>
                              
                          </div>  
                          
                        </div>
                    </div>
                  </div>  
                  
                      <div id="situation" class="row">
                        <div class="offset-lg-1 col-lg-10">
                            <div class="card">
                              <div class="card-header">
                                  <h3 class="card-title">
                                      雰囲気
                                  </h3>
                              </div>
                        
                              <div class="card-body">
                                  <div class="image-picture">
                                    
                                    <% if article.situation == "社長・経営者クラス" %>
                                    <div class="row">
                                      <div class="col-lg-5">
                                        <img width="120" height="100" src="/assets/president.jpg" alt="社長・経営者クラス">
                                      </div>
                                      <div class="col-lg-7">
                                        <h4 class="mt-40">社長・経営者クラス</h4>
                                      </div>
                                    </div>
                                    
                                    <% elsif article.situation == "役員クラス" %>
                                    <div class="row">
                                      <div class="col-lg-6">
                                        <img width="120" height="100" src="/assets/yakuinn.jpg" alt="役員クラス">
                                      </div>
                                      <div class="col-lg-6">
                                        <h3 class="mt-20">役員クラス</h3>
                                      </div>
                                    </div>
                                      
                                      
                                      
                                    <% elsif article.situation == "部長クラス" %>
                                    <div class="row">
                                      <div class="col-lg-6">
                                        <img width="120" height="100" src="/assets/teamleader.jpg" alt="部長クラス">
                                      </div>
                                      <div class="col-lg-6">
                                        <h3 class="mt-20">部長クラス</h3>
                                      </div>
                                    </div>
                                      
                                    <% elsif article.situation == "役職クラス" %>
                                    <div class="row">
                                      <div class="col-lg-6">
                                        <img width="120" height="100" src="/assets/groupleader.jpg" alt="役職クラス">
                                      </div>
                                      <div class="col-lg-6">
                                        <h3 class="mt-20">役職クラス</h3>
                                      </div>
                                    </div>
                                    
                                    <% elsif article.situation == "担当レベル" %>
                                    <div class="row">
                                      <div class="col-lg-6">
                                        <img width="120" height="100" src="/assets/crient.jpg" alt="担当レベル">
                                      </div>
                                      <div class="col-lg-6">
                                        <h3 class="mt-20">担当レベル</h3>
                                      </div>
                                    </div>
                                      
                                    <% else %>
                                    <div class="row">
                                      <div class="col-lg-6">
                                        <img width="120" height="100" src="/assets/noimage.png" alt="その他">
                                      </div>
                                      <div class="col-lg-6">
                                        <h4 class="mt-20">情報無し</h4> 
                                      </div>
                                    </div>
                                    <% end %>
                                  </div>
                              </div>  
                            </div>
                        </div>
                      </div>
                </div>
                
                <!-- 補足情報表示部分 -->
                
                
                <h3 style="margin-top: 30px;">◆補足情報◆</h3>       
                <div id="second-info" style="margin-top: 0px;">
                    <div class="rst-info row" style="margin-top: 20px;">
                      <div class="col-sm-4">
                        <p>ソフトドリンク：<%= article.softdrink %></p>
                      </div>
                      
                      <div class="col-sm-4">
                        <p>ビール銘柄：<%= article.beer_brand %></p>　　　　<!--　後ほど追加する -->
                      </div>
                      
                      <div class="col-sm-4">
                        <p>タバコ：<%= article.smoking %></p>
                      </div>
                    </div>
                    
                    
                    <div class="rst-info row">
                      <div class="col-sm-4">
                        <p>個室：<%= article.room_type %></p>
                      </div>
                      
                      <div class="offset-sm-4 col-sm-4">
                        <p>ネット予約：<%= article.net_reservation %></p>
                      </div>
                    </div>
                </div>
          
          
            <% if logged_in? %>
              <div id="button-group" class="row">  
                <div class="col-sm-6">                
                  <% if current_user.favoriting?(article) %>
                      <%= link_to "お気に入りを解除", like_path(article.id), method: :delete, class: 'btn btn-danger btn-sm' %>
                  <% else %>
                      <%= link_to "お気に入り登録する", likes_path(article_id: article.id), method: :post, class: 'btn btn-primary btn-sm' %>
                  <% end %>
                </div>
            
            <% else %>
                <div class="col-sm-6">
                 <%= link_to "会員登録してお気に入り登録", signup_path, class: 'btn btn-primary btn-sm' %>
                </div>
            <% end %>    
            
                <div class="col-sm-6">
                  <% if current_user == article.user %>
                   <%= link_to "記事を編集する", edit_article_path(article), class: 'btn btn-primary btn-sm' %>
                  <% end %>
                </div>
                
              
              </div>
              
              
              <div id="delete-button" class="row">
                <div class="offset-sm-4 col-sm-4 offset-sm-4">
                  <% if current_user == article.user %>
                    <%= link_to "削除", article, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
                  <% end %>
                </div>
              </div>
        
      </div>
    </li>
</ul>