<div class="row">
        <aside class="col-sm-4">
            <div style="margin-bottom: 20px;">
                <% if logged_in? %>
                    <%= link_to "口コミを投稿する", new_review_path(:article_id => @article.id), class: "btn btn-primary btn-sm", style: "margin-top: 15px" %>
                <% else %>
                    <%= link_to "会員登録して口コミを投稿", signup_path, class: "btn btn-primary btn-sm", style: "margin-top: 15px" %>
                <% end %>
            </div>    
        </aside>


        <div class="col-sm-8">
                <ul class="nav nav-tabs nav-justified mb-3">
                    <li class="nav-item"><a href="<%= article_path %>" class="nav-link <%= 'active' if current_page?(article_path) %>">
                        概要</a></li>
                    
                    <li class="nav-item"><a href="<%= reviewing_article_path(@article) %>" class="nav-link <%= 'active' if current_page?(reviewing_article_path(@article)) %>">口コミ<span class="badge badge-secondary"></span></a></li>
                </ul>
            
                <%= render 'articles/detail', article: @article %>    
                
        </div>

</div>





        