<div class="row">
        <aside class="col-sm-4">    
    
           <h2 style="color:white">口コミの投稿</h2>
                <% if logged_in? %>
                    <%= form_with(model: @review, local: true) do |f| %>
                        <%= render 'layouts/error_messages', model: f.object %>
                            
                      <%= hidden_field_tag :article_id, @article.id %>
                      <%= hidden_field_tag :user_id, @user.id %>
                      <p class="rev-form">タイトル：</p>
                      <%= f.text_field :title, class: "text_field form-control", style: "margin-top: 0px" %>
                      <p class="rev-form">コメント：</p>
                      <%= f.text_area :content, class: "text-area form-control", style: "margin-top: 0px" %>
                      <%= f.submit '投稿', class: "submit-btn", style: "margin-top: 10px" %>
                    <% end %>
                <% else %>
                    <%= link_to "会員登録して口コミを投稿", signup_path, class: "btn btn-primary btn-sm", style: "margin-top: 15px;" %>
                <% end %>
        </aside>


        <div class="col-sm-8">
                <ul class="nav nav-tabs nav-justified mb-3">
                    <li class="nav-item"><a href="<%= article_path %>" class="nav-link <%= 'active' if current_page?(article_path) %>">
                        概要</a></li>
                    
                    <li class="nav-item"><a href="<%= reviewing_article_path %>" class="nav-link <%= 'active' if current_page?(reviewing_article_path) %>">口コミ<span class="badge badge-secondary"></span></a></li>
                </ul>
            
                <%= render 'articles/detail', article: @article %>    
                
        </div>

</div>





        