
        <%= form_with(url: "/sort", local:true) do |f| %>
          <form>
            <p>並び替え</p>
              
              <%= hidden_field_tag :sort, search %>
              <%= hidden_field_tag :food_type, food_type %>
              <%= f.select :change, [['安い順(予算金額)', '安い順(予算金額)'], ['高い順(予算金額)', '高い順(予算金額)'], ['駅近順（徒歩時間)', '駅近順（徒歩時間)']] %>
              <%= f.submit '並び替え' %>
          </form>
        <% end %>