

    <h1>お店の検索</h1>
    <%= form_with url: search_users_path, method: :get, local: true do |f| %>
      <p>■エリア、駅名、店名で検索</p>
      <%= f.text_field :search %>
      
      <%= f.submit :search %>
    <% end %>
    
    
            <div class="search_by_station" style="margin-top: 20px;">
              <p>■駅名選択で検索</p>
                <%= render 'users/search_by_station' %>
            
              <form action="/search_by_station" accept-charset="UTF-8" method="get">
                <input name="utf8" type="hidden" value="✓">
                <label for="駅名">駅名</label>
                  <select id="search_by_station" name="search_by_station">
                  
                  </select>
                <input type="submit" name="commit" value="検索" data-disable-with="検索">
              </form>
            </div>   

          
            
          <div style="margin-top: 20px;">
            <h5>～検索結果～</h5>
          </div>
          
         <%= render 'users/sort_button', search: @search %>
    
          <div class="search-result">
            <ul class="list-unstyled">
             
              <% @search_articles.each do |art| %>
                <li class="media mb-3">
                  <div class="media-body">
                    
                    
                    <div class="card" style="margin-top: 10px;">
                            <div class="card-header">
                                <h5 class="card-title">
                                  
                                  <div class="rst-info row">
                                    <div class="col-sm-4">
                                      <p>店名：<%= art.shop_name %></p>
                                    </div>
                                    
                                    <div class="offset-sm-1 col-sm-3">
                                      <p>エリア：<%= art.area %></p>
                                    </div>
                                    
                                    <div class="col-sm-3">
                                      <p>最寄駅：<%= art.station %></p>
                                    </div>
                                  </div>
                                </h5>
                            </div>
                              
                            <div class="card-body">
                              <div class="rst-topics row">
                                <aside class="col-sm-4">
                                  <div class="rst-imaage">
                                      <div class="rst-main_visual">
                                          <%= image_tag art.image1.url if art.image1? %>
                                      </div>
                                  </div>
                                </aside>
                              
                              
                      
                                <div class="col-sm-6">
                                   <p class="text-left">予算：<%= art.budget %>円</p>
                              
                                   <p class="text-left">雰囲気：<%= art.situation %></p>
                       
                                   <p class="text-left">こだわり(食)：<%= art.food_type %></p>
                                
                                   <p class="text-left">こだわり(お酒)：<%= art.alcohol_type %></p>
                                
                                </div>
                              </div>  
                              
                            </div>
                            
                            <div class="card-footer">
                            
                              <div class="sub-footer row">
            
                                <div class="col-sm-3">
                                  <% if art.room_type == "有(完全個室)" %>
                                    <span class="badge badge-info">完全個室</span>
                                  
                                  <% elsif art.room_type == '有(簡易区切りのみ)' %>
                                      <span class="badge badge-info">簡易個室</span>
                                  <% end %>
                                </div>
                                
                                
                                <div class="col-sm-3">
                                  <% if art.smoking == "喫煙" %>
                                    <span class="badge badge-info">喫煙</span>
                                  
                                  <% elsif art.smoking == '禁煙' %>
                                      <span class="badge badge-info">禁煙</span>
                                  <% end %>
                                </div>
                                
                                
                                <div class="col-sm-3">
                                  <% if art.net_reservation == "可" %>
                                    <span class="badge badge-info">ネット予約可</span>
                                 
                                  <% elsif art.net_reservation == "不可" %>
                                    <span class="badge badge-info">電話予約のみ</span>
                                  <% end %>
                                </div>
                      
                      
                                <div class="col-sm-3">
                                    <%= link_to "詳細", article_path(art) , class: 'btn btn-primary btn-sm' %>
                                </div>
                                
                                
                            </div>
                      </div>
                  </div>
                </li>
              <% end %>
            
            </ul>
        </div>

    
