<!-- ログインもしくは、会員登録完了後はここにリダイレクトさせる -->
<!-- ワイヤーフレーム7を参考に作成する。 -->

<!-- 基本構造の参照は、micropostsのshowぺーじにて -->





<div class="row">
    <aside class="col-sm-4">
        
        <!-- プロフィール表示ゾーン -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <%= @user.name %>   <img class="rounded img-fluid" src="
                <%= gravatar_url(@user, { size: 100 }) %>" alt="">
                </h3>
            </div>
            <div class="card-body">
                <p>業界：<%= @user.job_field %></p>
                <p>役職：<%= @user.job_class %></p>
                 
                <p>マイエリア１：<%= @user.my_area1 %></p>
                <p>マイエリア２：<%= @user.my_area2 %></p>
                <p>マイエリア３：<%= @user.my_area3 %></p>
            </div>
                 <%= render 'relationships/follow_button', user: @user %>
        </div>
        
        
        <!-- 記事投稿ゾーン -->
        <div class="card" style="margin-top: 30px;">
            <div id="post-art" class="card-header">
                <h3 class="card-title">
                   <p>あなたのおすすめの記事をシェアしよう！</p>
                </h3>
            </div>
            <div id="post-art-button" class="card-body">
                <p><%= link_to '記事を投稿する', prev_search_users_path, class: 'btn btn-lg btn-primary' %></p>
            </div>
                 
        </div>
        
        
        <!-- 検索フォームと検索ボタンを設置するゾーン -->
        <!-- ★隙間は、style="margin-top"で修正する-->
        
        <div class="card border-dark" style="margin-top: 50px;">
            <div class="card-header">
                <h4 class="card-title">
                    <%= form_with url: writing_user_url, method: :get, local: true do |f| %>
                          <p>■エリア、駅名、店名</p>
                          <%= f.text_field :search %>
              
                          <%= f.submit :search %>
                    <% end %>
                </h4>
            </div>
            <div class="card-body border-dark">
                <div>
                  <p>検索結果</p>
                </div>
    
    
                    <div class="search-result">
                        <ul class="list-unstyled">
                          <% @search_articles.each do |art| %>
                            <li class="media mb-3">
                              <div class="media-body">
                                
                                
                                <div class="card" style="margin-top: 10px;">
                                        <div class="card-header">
                                            <h5 class="card-title">
                                              
                                              <div class="rst-info row">
                                                <div class="col-sm-4">
                                                  <p>店名：<%= art.shop_name %></p>
                                                </div>
                                                
                                                <div class="offset-sm-1 col-sm-3">
                                                  <p>エリア：<%= art.area %></p>
                                                </div>
                                                
                                                <div class="col-sm-3">
                                                  <p>最寄駅：<%= art.station %></p>
                                                </div>
                                              </div>
                                            </h5>
                                        </div>
                                          
                                        <div class="card-body">
                                          <div class="rst-topics row">
                                            <aside class="col-sm-4">
                                              <div class="rst-imaage">
                                                  <div class="rst-main_visual">
                                                      <%= image_tag art.image1.url if art.image1? %>
                                                  </div>
                                              </div>
                                            </aside>
                                          
                                          
                                  
                                            <div class="col-sm-6">
                                               <p class="text-left">予算：<%= art.budget %>円</p>
                                          
                                               <p class="text-left">雰囲気：<%= art.situation %></p>
                                   
                                               <p class="text-left">こだわり(食)：<%= art.food_type %></p>
                                            
                                               <p class="text-left">こだわり(お酒)：<%= art.alcohol_type %></p>
                                            
                                            </div>
                                          </div>  
                                          
                                        </div>
                                        
                                        <div class="card-footer">
                                        
                                          <div class="sub-footer row">
                        
                                              <div class="col-sm-3">
                                                <% if art.room_type == "有(完全個室)" %>
                                                  <h6 class="badge badge-info">完全個室</h6>
                                                
                                                <% elsif art.room_type == '有(簡易区切りのみ)' %>
                                                    <h6 class="badge badge-info">簡易個室</h6>
                                                <% end %>
                                              </div>
                                              
                                              
                                              <div class="col-sm-3">
                                                <% if art.smoking == "喫煙" %>
                                                  <h6 class="badge badge-info">喫煙</h6>
                                                
                                                <% elsif art.smoking == '禁煙' %>
                                                    <h6 class="badge badge-info">禁煙</h6>
                                                <% end %>
                                              </div>
                                              
                                              
                                              <div class="col-sm-3">
                                                <% if art.net_reservation == "可" %>
                                                  <h6 class="badge badge-info">ネット予約可</h6>
                                               
                                                <% elsif art.net_reservation == "不可" %>
                                                  <h6 class="badge badge-info">電話予約のみ</h6>
                                                <% end %>
                                              </div>
                                          </div>
                                          
                                          
                                          <div id="subfooter" class="sub-footer row">
                                              <div class="offset-sm-3 col-sm-5">
                                                  <%= link_to "詳細", article_path(art) , class: 'btn btn-primary btn-sm' %>
                                              </div> 
                                          </div>  
                                        </div><!-- cardfooter ここまで-->
                                  </div>
                              </div>
                            </li>
                          <% end %>
                        
                        </ul>
                    </div>
            </div>
        </div>
        
  
    
       <!-- 記事投稿ボタンを設置するゾーン -->
 
        
    </aside>
    
    <!-- タブ表示するコード-->
    <div id="user-nav" class="col-sm-8">
        <ul class="nav nav-tabs nav-justified mb-3">
            <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">
                TOP<span class="badge badge-secondary"><%= @count_articles %></span></a></li>
            
            <li class="nav-item"><a href="<%= myarea_list_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(myarea_list_user_path(@user)) %>">マイエリア<span class="badge badge-secondary"></span></a></li>
            
             <li class="nav-item"><a href="<%= writing_user_path %>" class="nav-link <%= 'active' if current_page?(writing_user_path(@user)) %>">投稿一覧<span class="badge badge-secondary"></span></a></li>
            
            <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">
                フォロー<span class="badge badge-secondary"><%= @count_followings %></span></a></li>
            
            <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">
                フォロワー<span class="badge badge-secondary"><%= @count_followers %></span></a></li>
            
            <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">お気に入り記事<span class="badge badge-secondary"></span></a></li>
        </ul>
    
        <%= render 'articles/articles', articles: @articles %>
        
    </div>
</div>    