<!DOCTYPE html>
<html  lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- 各サイズで適正表示に-->
    <meta name="viewport" content="width=device-width,
    initial-scale=1, shrink-to-fit=no">
    <title>DinnerPlanner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    
    <!-- CCS適用-->
    <%= stylesheet_link_tag "toppages", media: 'all', 'data-turbolinks-track': 'reload'  %>
    <%= stylesheet_link_tag "users", media: 'all', 'data-turbolinks-track': 'reload'  %>
    <%= stylesheet_link_tag "articles", media: 'all', 'data-turbolinks-track': 'reload'  %>
    
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
    	
    <link href="https://fonts.googleapis.com/css?family=Caveat rel="stylesheet">
    
    <!-- 上記コードが抜けてた製で、お気に入りと削除の機能がうまくいかなかった-->
    

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>

  

  
  </head>
  
  
  
  <!-- if current_page?でトップページとそれ以外で、<bodyタグを分岐させる -->
  <!-- んで、トップページのbodyタグにclass付与して、それだけフルスクリーン表示させる -->
  
  <% if logged_in? %>　<!--ログインしていればトップにナブバー表示-->
        <% if current_page?(root_path) %>
        
          <%= render 'layouts/navbar' %>
              <body class="top">

                <div class="container">
          
                    <%= yield %>
                
                </div>
              </body>
        <% else %>
          
            <body>
            
            <!-- ここにヘッダー的画像 -->
            
              <%= render 'layouts/navbar' %>
              
                  <div id="main_visual">
                    <img src="/assets/sub-info.jpg" alt="メインビジュアル">
                  </div>
       
                  <div class="container">
                    
                    <%= render 'layouts/flash_message' %>
                    <%= yield %>
                  
                  </div>
            
            </body>
       <% end %>
  <% else %>    <!--ログインしてなければトップにナブバー表示しない-->
      <% if current_page?(root_path) %>
          <body class="top">
              <div class="container">
        
                  <%= yield %>
              
              </div>
          </body>
         
      <% else %>
        <body>
          <%= render 'layouts/navbar' %>
          
                  <div id="main_visual" class="mt-0">
                      <img src="/assets/sub-info.jpg" alt="メインビジュアル">
                  </div>
          
          <div class="container">
            
            <%= render 'layouts/flash_message' %>
            <%= yield %>
          
          </div>
        </body>
      <% end %>
  
  <% end %>
  
  <footer>
            <!-- コピーライト仮作成　　後ほど精密修正へ-->
                <small>(C)2020 syanta-studio</small>
  </footer>
</html>
